<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<ul>
    <li *ngFor = "let tarjeta of tarjetas">
        <div class = "principal">
            <div class = "tarjeta">
                <img class = "logo" src="./../../../assets/images/chip.png"/><br>
                <p class = "numero"> {{tarjeta.numero}} </p>
                <p style="color:white"> GOOD THRU</p>
                <p class = "fecha"> {{tarjeta.fecha_vencimiento}} </p>
                <p> {{tarjeta.nombre_titular}} </p>
                <p> CCV: {{tarjeta.ccv}} </p>
                <img class = "logo2" src="./../../../assets/images/mastercard_logo.png">
            </div>
            <div class = "montos">
                <b class = "monto_autorizado"> Monto Autorizado </b><br>
                <b class = "monto_autorizado_numero"> Q{{tarjeta.monto_autorizado}} </b><br>
                <b class = "monto_disponible"> Monto Disponible </b><br>
                <b class = "monto_disponible_numero"> Q{{tarjeta.monto_disponible}}</b>
            </div>
        </div>
    </li>
</ul>