<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
<div class = "main_container">
    <h1> Registro de usuario </h1>
    <b> Nombre </b> <br>
    <mat-form-field appearance="fill">
        <input matInput>
    </mat-form-field>
    <br>
    <b> Password</b> <br>
    <mat-form-field appearance="fill" >
        <input matInput type="password">
    </mat-form-field> 
    <br>
    <button mat-button class= "button">Ingresar</button>
</div>