.main-container{
    background-color: slategrey;
    position: relative;
    width: 400px;
    height: 500px;
    left: 36%;
    margin-top: 5%;
    border-radius: 2%;
    box-shadow:  5px 10px #bebebee3;
}
h1{
    position: relative;
    margin-left: 15%;
    top: 5%;
    font-family: 'Bebas Neue';
    color: white;
}
.tarjeta{
    margin-left: 50px;
    border-radius: 2%;
    position: relative;
    height: 220px;
    width: 300px;
    background-color: rgb(40,40,43);
}
img{
    margin-top: 5%;
    height: 20%;
    width: 15%;
}
img,input {
    margin-left: 15%;
}
.firstsel {
    margin-left: 30%;
}
b{
    color: white;
    font-size: 10px;
    margin-left: 15%;
}
select{
    background-color: rgb(40,40,43);
    background: transparent;
    border: none;
    color: white;
    outline: none;
}
select:focus{
    outline: none;
}
input {
    background-color: rgb(40,40,43);
    outline: none;
    border: none;
    border-bottom: white;
    color: white;
}
.ingresar{
    margin-left: 15%;
}
.fuera_input{
    border: none;
    outline: none;
    border-bottom: solid white 1px;
    background-color: slategrey;
}
.logo2{
    width: 50px;
    height: 30px;
    margin-left: 80%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}