
.main-container{
    background-color: slategrey;
    position: relative;
    width: 250px;
    height: 400px;
    left: 42%;
    margin-top: 5%;
    border-radius: 2%;
    box-shadow:  5px 10px #bebebee3;
}
h1{
    font-family: 'Bebas Neue';
    padding-top: 10%;
}
mat-icon{
    padding-top: 10%;
}
b {
    font-family: 'Roboto Condensed', sans-serif;
}
input{
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: slategrey;
}
h1, b, input {
    color: white;
}
h1, b, input, button {
    margin-left: 10%;
}
