.spacer {
  flex: 1 1 auto;
  }

.buttons{
  border: none;
  margin: 2px;
  padding: 5px;
  font-size: 14px;
  color: white;
  background-color: slategrey;
}
.logo{
  width: 100px;
  height: 50px;
  align-self: flex-start;
}
.toolbar{
  background-color: slategrey;
}